root {
  --white: #fff;
  --grey: #a7a7a7;
}

body {
  font-family: "Circular";
}

nav {
  width: 380px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid white;
  z-index: 100;
}

/*SIDEBAR*/
.spotify-logo {
  width: 45%;
  margin-block: 2rem;
  padding-left: 2rem;
}

ul,
ul:hover {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
.nav-first {
  line-height: 2rem;
}

svg {
  fill: white;
  margin-right: 1rem;
}

hr {
  position: relative;
  left: 2rem;
}

.playlist {
  background-color: white;
  fill: black;
}

.cuore {
  fill:  white;
  background-color: violet;
}

/*MAIN*/
main {
  background: rgb(18,49,62);
  background: linear-gradient(180deg, rgba(18,49,62,0.5) 0%, rgba(18,18,18,1) 10%);
  margin-left: auto;
  width: calc(100% - 380px);
}
main .wrapper {
  width: 95%;
  margin-inline: auto;
}
main header .icon-wrapper button {
  border: unset;
  background: unset;
  height: 32px;
  width: 32px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 100%;
  opacity: 0.7;
  padding: 0.5rem;
  vertical-align: middle;
}
main header .icon-wrapper button svg {
  fill: #fff;
  display: block;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.main h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.goodCards {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(18,49,62,1);
}
.main .goodCard {
  display: flex;
  border-radius: 30px;
}
.goodCard-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main .goodCard img {
  min-width: 64px;
  max-width: 80px;
  height: auto;
  aspect-ratio: 1/1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.main .goodCard-play {
  background-color: #1ED760;
  padding: 0.8rem;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.main .goodCard-play svg {
  display: block;
}
.main .goodCard:hover .goodCard-play {
  opacity: 1;
}
.main .card {
  background-color: #181818;
  border: unset;
  transition: all 0.5s ease-in-out;
}
.main .card:hover {
  background-color: #282828;
}
.main h3 {
  font-size: 1rem;
}
.main .card p {
  color: #b3b3b3;
  font-size: 0.9rem;
}


/* FOOTER STYLES */
footer {
  border-bottom: 1px solid coral;
  padding-bottom: 100px;
}

footer #footer-first-row {
  border-bottom: 0.1px solid #b3b3b3;
}

footer p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #a7a7a7;
  margin-bottom: 10px;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer a:first-child {
  margin-right: 16px;
}

footer a:nth-child(2) {
  margin-right: 16px;
}

footer .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: #a7a7a7;
  position: relative;
}

footer .icon:hover {
  background-color: #727272;
}

footer .icon svg {
  fill: #fff;
}

footer #copyright {
  color: #a7a7a7;
}
